/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
}

@media all and (min-width: 376px) {
    
    #container {
        position: relative;
        width: 20%;
        margin: auto;
        background-color: hsl(0, 0%, 100%);
        border-radius: 25px;
        height: 550px;
        top: 10em;
        box-shadow: 0px 8px 77px -41px rgba(66, 68, 90, 1);
    }

    .qrCod {
        position: relative;
        width: 90%;
        margin: 20px;
        border-radius: 25px;
    }

    h2 {
        margin: 20px;
        text-align: center;
        font-family: 'Outfit', sans-serif;
        color: hsl(218, 44%, 22%);
    }

    p {
        font-family: 'Outfit', sans-serif;
        font-size: 15px;
        color:  hsl(220, 15%, 55%);
        margin: 20px;
        text-align: center;
    }
}

@media all and (max-width: 375px) {
    
    #container {
        position: relative;
        width: 90%;
        margin: auto;
        background-color: hsl(0, 0%, 100%);
        border-radius: 25px;
        box-shadow: 0px 8px 77px -41px rgba(66, 68, 90, 1);
        height: 500px;
        top: 10em;
    }

    .qrCod {
        position: relative;
        width: 87.5%;
        margin: 20px;
        border-radius: 25px;
    }

    h2 {
        margin: 20px;
        text-align: center;
        font-family: 'Outfit', sans-serif;
        color: hsl(218, 44%, 22%);
    }

    p {
        font-family: 'Outfit', sans-serif;
        font-size: 15px;
        color:  hsl(220, 15%, 55%);
        margin: 20px;
        text-align: center;
    }

    .attribution {
        position: absolute;
        bottom: 0px;
        margin: auto;
    }
}